@import "../../utilities/references/index";

.profile-main-page {
  width: 100%;
  display: flex;
  background-color: $navyDark;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  text-align: right;

  .image-div {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    background: url("../../assets/images/profile_background.png") no-repeat bottom/cover;
    position: relative;
    @include project-size(padding-right, 50px, 40px);
    @include project-size(padding-bottom, 50px, 40px);
    @include project-size(padding-top, 50px, 40px);

    img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      object-fit: cover;
    }

    .edit-button {
      display: none;
    }

    .edit-icon {
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 100%;
      background-color: $creamLight;
      cursor: pointer;
      margin-top: 100px;
    }
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;

    .edit-confirm-button {
      margin-top: 20px;
      margin-left: 5px;
      max-width: 80px;
      height: 38px;
      font-weight: normal;
      outline: none;
      border: none;
      border-radius: 5px;
      color: $white;

      &:hover {
        color: white;
      }
    }

    .editable {
      background-color: $blue;
    }

    .not-editable {
      background-color: $green;
    }

    .item-detail {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 0;

      @include project-md {
        flex-direction: row-reverse;
        margin-top: 15px;
      }

      .item {
        width: 100%;
        display: flex;
        padding: 5px;
      }

      .detail-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;

        span {
          display: flex;
          width: 100%;
          flex: 1;
        }

        .selected {
          color: $black !important;
        }

        .disabled {
          background-color: $creamLight !important;
          cursor: not-allowed !important;
          opacity: 0.5 !important;
        }


        .state-button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          background-color: $creamLight;
          font-size: 16px;
          margin-bottom: 6px;
          height: 44px;
          padding: 0 18px;
          outline: none;
          color: $gray;
          font-weight: 500;
          border: none;
          border-radius: 5px;
        }

        p {
          color: $creamLight;
          font-size: 16px;
          margin-bottom: 6px;
          font-weight: 600;
          direction: rtl;
          text-align: right;
        }
      }
    }
  }
}


