@import "../../utilities/references/index";
.card{
    direction: rtl;
.card-container{
    width:300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    margin: 37px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    &:hover{
        transform: scale(1,1);
        box-shadow: 0px 0px 15px 0px;
    }
    .image-container img{
        overflow:hidden;
        height: 200px;
    }
    .card-content{
        margin: 1rem;
        margin-top: 0.5rem;
        .card-title{
            margin-bottom: 0.5rem;
        }
        h3,p{
            margin:0;
            padding:0;
            text-overflow: ellipsis;
            max-width: 268px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .btn{
        display: flex;
        flex-direction: row-reverse;
        font-size: 11px;
        justify-content: center;
        background-color: $blue;
        padding: 0.5rem;
        margin-right: 207px;
        max-width: 80px;
        height: 38px;
        transition: 0.2s;
        margin-bottom: 0.5rem;
        border-radius: 3px;
        &:hover{
            background-color: $navyLight;
        }
        
    }
}
}








