@import "../../utilities/references/index";

.map-main-page {
  display: flex;
  width: 100%;
  flex-direction: column;

  .first-item {
    width: 100%;
    padding: 20px;
    overflow: hidden;

    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      cursor: text;
      direction: rtl;
    }
  }

  .second-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    .mapp {
      display: flex;
      overflow-y: hidden;
      width: 80% !important;
      max-height: 700px !important;
    }
  }
}