@import "src/utilities/references/index";

.details-main-page {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $white;
  max-width: 350px;
  min-width: 350px;
  justify-content: center;
  position: absolute;
  left: -350px;
  transition: left 500Ms;


  &.is-open {
    position: absolute;
    left: 0;
    margin-left: 0 !important;
  }

  .detail-items {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .toggle-button {
      display: flex;
      justify-content: flex-end;
      padding: 10px;

      i {
        font-size: 30px;
        cursor: pointer;
      }
    }

    img {
      width: 100%;
      height: 200px;
    }

    .info {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 10px;
      flex-direction: column;
      direction: rtl;

      .info-item {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 500;

        i {
          display: flex;
          font-size: 25px;
          margin-left: 5px;
          font-weight: 300;
        }
      }

      .last-line {
        margin-bottom: 0 !important;
      }
    }
  }
}
  
  

  
  
  

  

 
  