@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~react-toastify/dist/ReactToastify.css";
@import "../../assets/icons/feather/feather.css";
@import "../../assets/icons/material/material.css";
@import "./card";
@import "./animation";
@import "../../assets/fonts/IRANSans/css/fontiran.css";
@import "../../assets/fonts/IRANSans/css/style.css";

body {
  direction: ltr;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

body,
input,
a,
button,
li,
ul,
div,
p,
span,
table,
tbody,
thead,
tr,
td,
th,
i,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: IRANSans !important;
}