@import "../../utilities/references/index";
// .rec .rec-slider{
//   height: 400px;
// }
// .rec .rec-carousel{
//   height: 390px;
//   width: 1000px;
// }
.xzcEF {
  visibility: hidden;
}


.ant-list-item{
  direction: rtl;
}
.h1{
  direction: rtl;
  display: flex;
  flex-direction: flex-start
}
.rec .rec-item-wrapper{
  //width: 360px !important;
  @include project-size(width, 350px, 315px);
  @include project-md {
        @include project-size(width, 195px, 200px);
        flex-direction: column;
      }
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.fix{
  overflow: scroll;
}
.time-line-page {
  display: flex;
  padding: 30px;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-left: -18px;
  overflow: auto;
  
  > * {
    margin-left: 18px;
  }

  .my-grid {
    @include project-size(min-width, 400px, 315px);
    flex: 1;
  }

  .modal-text {
    display: flex;
    margin-top: 10px;
    width: 100%;
    font-weight: 600;
    justify-content: flex-end;
  }

  .no-data {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;

    img {
      @include project-size(width, 450px, 250px);
      @include project-size(height, 450px, 250px);
    }
  }
  .no-data-p {
      display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #F05454;
    font-weight: 600;
    @include project-md{font-size: 16px;}

    }
.fix{
  overflow: auto;
}

  .time-line-card {
    display: flex;
    flex: 1;
    @include project-size(width, 250px, 200px);
    flex-direction: column;
    align-items: center;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: $gray0;
    margin-bottom: 20px;
    

    .header{
      background-color:$blue;
      display: flex;
      width: 100%;
      height: 12%;
    }

    .cover-div {
      display: flex;
      width: 100%;
      //flex-direction: row-reverse;
      padding-top: 10px;
      padding-left: 50px;
      background-size: cover;
     


    //   .fix{
    //     width: 100%;

      .cover {
        width: 100%;
        border-radius: 100%;
        height: 55px;
        width: 55px;
        padding: 5px;
        justify-content: flex-start;
        // border-top-right-radius: 5px;
        // border-bottom-right-radius: 5px;
     // }
      }
      .username{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
      }
    }

    .content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 20px 10px;
      direction: rtl !important;

      .source {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-weight: normal;
        font-size: 13px;
        word-break: break-word;
        margin-bottom: 8px;
      }

      .destination {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-weight: normal;
        font-size: 13px;
        word-break: break-word;
        margin-bottom: 8px;
      }

      .cities {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-weight: normal;
        font-size: 13px;
        word-break: break-word;
        margin-bottom: 8px;
      }

      .follow-traveler {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-weight: normal;
        font-size: 13px;
        word-break: break-word;
        margin-bottom: 8px;
      }

      .time {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-weight: normal;
        font-size: 13px;
        word-break: break-word;
        margin-bottom: 8px;
      }

      .end-line-button {
        margin-top: 5px;
        display: flex;

        .join {
          display: flex;
          color: $white;
          width: 90px;
          border-radius: 5px;
          margin-right: 5px;
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
          background-color: $blue;
          justify-content: center;
        }
        .delete{
          display: flex;
          color: $white;
          width: 90px;
          border-radius: 5px;
          margin-right: 5px;
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
          background-color: $red;
          justify-content: center;
        }
      }


      span {
        display: flex;
        width: 100%;
        flex: 1;
      }

      .is-english {
        justify-content: flex-start !important;
        direction: ltr !important;
      }

      .description {
        width: 100%;
        word-break: break-word;
        font-size: 14px;
        direction: rtl;
        height: 100px;
        justify-content:flex-end;

      }
    }
  }
}
.ant-list-header{
  color: $blue !important;
}

.list{
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 320px;
  padding-left: 10px;
  padding-right: 10px;
  @include project-md{flex-direction:row}

    .right{
      flex-direction: column;
      display: flex;
      overflow: auto;
      width: 100%;
      padding-right: 5px;
      height: 100%;
      margin: 5px;
      
    }
    .right::-webkit-scrollbar {
    display: none;
    }
  .right {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  .left::-webkit-scrollbar {
    display: none;
  }
  .left {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  .end-line{
    display: flex;

  
    .add-button{
      display: flex;
          color: $white;
          width: 60px;
          border-radius: 5px;
          margin-right: 5px;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
          background-color: $blue;
          justify-content: center;
      }
          .add-button-deny{
            display: flex;
          color: $white;
          width: 60px;
          border-radius: 5px;
          margin-right: 5px;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
          justify-content: center;
            background-color: $red;
           }
           }  
           .add-button-accepted{
        display: flex;
          color: $white;
          width: 60px;
          border-radius: 5px;
          margin-right: 5px;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
          justify-content: center;
            background-color: $green;
          }
    .between{
      width: 5%;
    }
    .left{
      flex-direction: column;
      overflow: auto;
      display: flex;
      width: 100%;
      padding-right: 5px;
      height: 100%;
      padding-bottom: 10px;
    }
  }