@import "../../utilities/references/index";
// .rec .rec-slider{
//   height: 400px;
// }
// .rec .rec-carousel{
//   height: 390px;
//   width: 1000px;
// }
.rec .rec-item-wrapper{
  //width: 360px !important;
  @include project-size(width, 350px, 315px);
  @include project-md {
        @include project-size(width, 195px, 200px);
        flex-direction: column;
      }
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.time-line-page {
  display: flex;
  padding: 30px;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-left: -18px;
  overflow: auto;
  
  > * {
    margin-left: 18px;
  }

  .my-grid {
    @include project-size(min-width, 400px, 315px);
    flex: 1;
  }

  .modal-text {
    display: flex;
    margin-top: 10px;
    width: 100%;
    font-weight: 600;
    justify-content: flex-end;
  }

  .no-data {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding: 30px;
    border-radius: 10px;

    img {
      @include project-size(width, 450px, 250px);
      @include project-size(height, 450px, 250px);
    }

    p {
      display: flex;
      justify-content: center;
      font-size: 18px;
      color: $orangeDark;
      font-weight: 600;
    }
  }

  .time-line-card {
    display: flex;
    flex: 1;
    @include project-size(width, 300px, 200px);
    flex-direction: column;
    align-items: center;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: $gray0;
    margin-bottom: 20px;

    .cover-div {
      display: flex;
      width: 100%;
      height: 150px;
      //flex-direction: row-reverse;
      padding-top: 10px;
      padding-left: 50px;
      background-size: cover;
      


    //   .fix{
    //     width: 100%;

      .cover {
        width: 100%;
        border-radius: 100%;
        height: 100px;
        width: 100px;
        padding: 5px;
        justify-content: flex-start;
        // border-top-right-radius: 5px;
        // border-bottom-right-radius: 5px;
     // }
      }
      .username{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 90%;
      }
    }

    .content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px 10px;
      direction: rtl !important;

      .name-address {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-weight: normal;
        font-size: 14px;
        word-break: break-word;
        margin-bottom: 8px;
      }

      .end-line-button {
        margin-top: 5px;
        display: flex;

        .detail {
          display: flex;
          color: $white;
          width: 50px;
          border-radius: 5px;
          justify-content: center;
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
          background-color: #f34e4e;
          margin-left: 5px;
        }

        .edit {
          display: flex;
          color: $white;
          width: 90px;
          border-radius: 5px;
          justify-content: center;
          margin-right: 5px;
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
          background-color: $blue;
        }
      }


      span {
        display: flex;
        width: 100%;
        flex: 1;
      }

      .is-english {
        justify-content: flex-start !important;
        direction: ltr !important;
      }

      .description {
        width: 100%;
        word-break: break-word;
        font-size: 14px;
        justify-content: flex-start;
        direction: rtl;
        height: 100px;
      }
    }
  }
}
