@use 'sass:selector';

$white: #ffffff;
$black: #4e4c4c;
$gray: #696c70;
$grayDark: #52575d;
$grayLight: #a19e9e;
$orangeDark: #F05454;
$navyLight: #00587a;
$navyDark: #101528;
$red: #ff0000;
$creamLight: #DDDDDD;
$blueWood: #30475E;
