@use 'sass:selector';

$white: #ffffff;
$black: #4e4c4c;
$gray: #696c70;
$grayDark: #52575d;
$grayLight: #a19e9e;
$navy: #0f3057;
$navyLight: #00587a;
$navyDark: #101528;
$red: #ff0000;
$cream: #e7e7de;
$green: #008891;