@import "../../../utilities/references/index";

.signup-main-page {
    display: flex;
    width: 100%;
    max-width: 620px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}