@import "../../../utilities/references/index";

.signup-main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  @include project-md {
    flex-direction: row;
  }

  .signup-image {
    height: 350px;
    width: 100%;
    flex: 1;
    background-color: $creamLight;
    @include project-md {
      height: 100%;
    }
    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.32);
    padding: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .signup-div {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    height: 100vh;
    overflow: auto;
    justify-content: center;
    background-color: $blueWood;

    .signup {
      width: 100%;
      max-width: 520px;
      padding: 30px;

      .end-line {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 16px;

        p {
          color: rgba($creamLight, 0.8);
          font-weight: 500;

          .signin-button {
            color: $creamLight;
            font-weight: bold;
          }
        }


      }

      .header {
        font-weight: bold;
        font-size: 27px;
        color: $creamLight;
        margin-bottom: 16px;
        direction: rtl;
      }

      .detail-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include project-size(margin-bottom, 16px, 8px);

        span {
          display: flex;
          width: 100%;
          flex: 1;
        }

        .selected {
          color: $black !important;
        }


        .state-button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          background-color: $creamLight;
          font-size: 16px;
          margin-bottom: 6px;
          height: 44px;
          padding: 0 18px;
          outline: none;
          color: $gray;
          font-weight: 500;
          border: none;
          border-radius: 5px;
        }

        p {
          color: $creamLight;
          font-size: 16px;
          margin-bottom: 6px;
          font-weight: 600;
          direction: rtl;
          text-align: right;
        }
      }


      .items {
        @include project-size(margin-bottom, 16px, 8px)
      }

      .last-item {
        margin-top: 30px;
        border-radius: 5px;
        color: $white;
        width: 100%;
        background-color: $orangeDark;
        border: none;
        font-weight: bold;
        height: 44px;
        outline: none;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}