@import "../../utilities/references/index";

.my-travels-page {
  display: flex;
  padding: 30px;
  flex-direction: row-reverse;
  direction: rtl;
  flex-wrap: wrap;

  margin-left: -18px;

  > * {
    margin-left: 18px;
  }

  .grid {
    min-width: 300px;
    flex: 1;
  }

  @include project-md {
    flex-direction: row-reverse;
  }

  .no-data {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    border-radius: 10px;

    img {
      @include project-size(width, 450px, 250px);
      @include project-size(height, 450px, 250px);
    }

    p {
      margin-top: -25px;
      display: flex;
      justify-content: center;
      font-size: 18px;
      color: $orangeDark;
      font-weight: 600;
    }
  }


  .travels-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: $creamLight;
    margin-bottom: 20px;
    margin-left: 10px;
    flex: 1;
    min-width: 300px;

    @include project-md {
      flex-direction: row-reverse;
      height: 210px !important;

    }

    .cover-div {
      display: flex;
      height: 160px;
      width: 100%;

      @include project-md {
        @include project-size(width, 300px, 200px);
        height: 140px;
        margin-right: 15px;
      }

      .cover {
        background-color: $creamLight;
        display: flex;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;

        @include project-md {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }

    .content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 20px;


      .source {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        word-break: break-word;
        margin-bottom: 5px;
      }

      .destination {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        word-break: break-word;
        font-size: 17px;
      }

      .traveler {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        word-break: break-word;
        font-size: 17px;
      }

      .cities {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        word-break: break-word;
        font-size: 17px;
      }

      .gender {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        word-break: break-word;
        font-size: 17px;
      }

      .description {
        width: 100%;
        height: 100px;
        word-break: break-word;
        font-size: 15px;
        text-align: right;
        margin-top: 5px;
        padding-right: 5px;

        @include project-md {
          height: 100px;
          overflow-y: auto;
        }
      }
    }
  }
}
